@page "/tooltree/{ProjectId:int}"

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>@HeaderTitle</PageTitle>


<style>
    .dark-overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
    }
</style>

<MudOverlay Visible="@_isProcessing"
DarkBackground="true"
Absolute="false"
ZIndex="9"
Class="dark-overlay">
    <MudContainer MaxWidth="MaxWidth.Small" Style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10;height: 200px;">
        <MudPaper Class="d-flex flex-column align-center pa-8" Style="background: rgba(255, 255, 255, 0.95); border-radius: 8px;height: 100%;">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
            <MudText Typo="Typo.h6" Class="mt-4" Color="Color.Primary">Please wait...</MudText>

            <LottiePlayer
            Source="https://assets2.lottiefiles.com/packages/lf20_xyadoh9h.json"
            Speed="1"
            Loop="true"
            AutoPlay="true"
            Style="width: 300px; height: 300px;"
            />
        </MudPaper>
    </MudContainer>
</MudOverlay>


<MudContainer Fixed="true" Class="mt-4">
    @if (project != null)
    {
        <MudContainer Fixed="true" Class="mt-4">
            <MudGrid>
                <MudItem xs="12">
                    <div class="d-flex justify-space-between align-center">
                        <MudText Typo="Typo.h4">@HeaderTitle</MudText>
                        <MudButton OnClick="GoBack"
                        StartIcon="@Icons.Material.Filled.ArrowBack"
                        Color="Color.Default">
                            Back to Project
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudContainer>

        <MudPaper Elevation="3" Class="mt-4 pa-4">
            <MudText Typo="Typo.body1" Class="text-center">
                A list of all machines used in a station. Can be presented as a separate list (by station, or line).
            </MudText>
            <MudDivider Class="my-3" />
            <MudGrid>
                <MudItem xs="6" Class="d-flex justify-center">
                    <MudButton @onclick="DownloadExcelFile" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Download">
                        Download Edited File
                    </MudButton>
                </MudItem>
                <MudItem xs="6" Class="d-flex justify-center">
                    <MudButton Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Upload" OnClick="TriggerFileUpload">
                        Upload File
                    </MudButton>
                    <InputFile OnChange="HandleFileSelected" class="d-none" @ref="fileInput" />
                </MudItem>
            </MudGrid>
        </MudPaper>
    }
</MudContainer>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private string HeaderTitle { get; set; }
    private Project project;
    private InputFile fileInput;

    private bool _isProcessing;




    protected override async Task OnInitializedAsync()
    {
        await LoadProject();
    }

    private async Task LoadProject()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        project = await context.Projects
            .Include(p => p.Engineer)
            .Include(p => p.RMResponsible)
            .Include(p => p.Supplier)
            .Include(p => p.ProjectPhase)
            .FirstOrDefaultAsync(p => p.Id == ProjectId);

        HeaderTitle = $"{project.ECNumber} - {project.ProjectName} - ToolTree";

        if (project == null)
        {
            Snackbar.Add("Project not found", Severity.Error);
            NavigationManager.NavigateTo("/projects");
        }
    }


    private void GoBack()
    {
        NavigationManager.NavigateTo($"/project-details/{ProjectId}");
    }

    public async Task DownloadExcelFile()
    {
        _isProcessing = true;
        StateHasChanged();
        // dealy 2000ms
        //TODO: Delete it!
        await Task.Delay(2000);
        try
        {
            var filePath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Excels", "Tooltree.xlsm");

            await using var stream = new MemoryStream();

            using (var workbook = new XLWorkbook(filePath))
            {
                var worksheet = workbook.Worksheets.FirstOrDefault();
                if (worksheet != null)
                {
                    // Próba wyłączenia autofiltrów
                    if (worksheet.AutoFilter != null)
                    {
                        worksheet.AutoFilter.Clear();
                    }

                    worksheet.Cell("C2").Value = project.Supplier.Name;
                    worksheet.Cell("C4").Value = project.ECNumber + "-" +project.ProjectName;

                    string fileName = "";
                    // Spróbujmy zapisać z określonymi opcjami
                    var saveOptions = new SaveOptions
                        {
                            ValidatePackage = false,
                            EvaluateFormulasBeforeSaving = false,
                            GenerateCalculationChain = false
                        };

                    workbook.SaveAs(stream, saveOptions);
                }
            }

            stream.Position = 0;
            var streamRef = new DotNetStreamReference(stream);

            await JS.InvokeVoidAsync("downloadFileFromStream", "Tooltree-" + project.ECNumber + "-" + project.ProjectName+".xlsm", streamRef);
        }
        catch (Exception ex)
        {
            // Tutaj lepiej użyć właściwego loggera
            //_logger.LogError(ex, "Błąd podczas pobierania pliku Excel");
            Console.WriteLine($"Error downloading file: {ex}");
            throw; // Pozwól na obsługę błędu na wyższym poziomie
        }
        finally
        {
            _isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task TriggerFileUpload()
    {
        await JS.InvokeVoidAsync("click", fileInput.Element);
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {

        try
        {
            var file = e.File;
            if (file == null)
            {
                Snackbar.Add("No file selected", Severity.Warning);
                return;
            }

            // Sprawdzenie rozszerzenia pliku
            var extension = Path.GetExtension(file.Name).ToLower();
            if (extension != ".xlsx" && extension != ".xlsm")
            {
                Snackbar.Add("Please select an Excel file (.xlsx or .xlsm)", Severity.Warning);
                return;
            }

            // Sprawdzenie rozmiaru pliku (np. max 10MB)
            if (file.Size > 10 * 1024 * 1024)
            {
                Snackbar.Add("File is too large. Maximum size is 10MB", Severity.Warning);
                return;
            }

            // Wczytanie pliku do pamięci
            using var stream = file.OpenReadStream();
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            memoryStream.Position = 0;

            // Ścieżka do zapisania pliku
            var uploadsPath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Excels", "Uploads");
            Directory.CreateDirectory(uploadsPath); // Utworzenie katalogu jeśli nie istnieje

            var fileName = $"Tooltree-{project.ECNumber}-{project.ProjectName}{extension}";
            var filePath = Path.Combine(uploadsPath, fileName);

            // Zapisanie pliku
            await File.WriteAllBytesAsync(filePath, memoryStream.ToArray());

            memoryStream.Position = 0;
            await ProcessExcelFile(memoryStream);

            Snackbar.Add("File uploaded successfully", Severity.Success);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error uploading file: {ex}");
            Snackbar.Add("Error uploading file", Severity.Error);
        }

    }

    private async Task ProcessExcelFile(Stream stream)
    {
        _isProcessing = true;
        StateHasChanged();
        try
        {
            using var context = await DbFactory.CreateDbContextAsync();
            var tooltreeTypes = await context.TooltreeTypes.ToListAsync();

            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheets.FirstOrDefault();
            if (worksheet != null)
            {
                var lastRow = worksheet.LastRowUsed().RowNumber();
                var range = worksheet.Range("B7:L" + lastRow);
                var table = range.AsTable();

                var toolTreeData = new List<TooltreeData>();
                foreach (var row in table.DataRange.Rows())
                {
                    if (string.IsNullOrEmpty(row.Cell(3).Value.ToString()))
                    {

                    }
                    else
                    {
                        var typeCode = row.Cell(7).Value.ToString();
                        var tooltreeType = tooltreeTypes.FirstOrDefault(t => t.Code == typeCode);
                        var tooltreeTypeName = tooltreeTypes.FirstOrDefault(t => t.Code == typeCode);

                        var toolTree = new TooltreeData
                            {
                                PLCStationEquipment = row.Cell(1).Value.ToString(),
                                MachineNumber = row.Cell(2).Value.ToString(),
                                PLC = row.Cell(3).Value.ToString(),
                                Station = row.Cell(4).Value.ToString(),
                                AssetCode = row.Cell(5).Value.ToString(),
                                ToolNumber = row.Cell(6).Value.ToString(),
                                TypeId = tooltreeType?.Id ?? 0,
                                Description = row.Cell(8).Value.ToString(),
                                AssetNumber = row.Cell(9).Value.ToString(),
                                CommentLinebuilder = row.Cell(10).Value.ToString(),
                                CommentVolvo = row.Cell(11).Value.ToString()
                            };
                        toolTreeData.Add(toolTree);                        
                    }

                }

                await context.TooltreeDatas.AddRangeAsync(toolTreeData);
                await context.SaveChangesAsync();

                Snackbar.Add("File processed successfully", Severity.Success);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error processing Excel file: {ex}");
            Snackbar.Add("Error processing Excel file", Severity.Error);
        }
        finally
        {
            _isProcessing = false;
            StateHasChanged();
        }
    }


}
